h1,
h4,
h5 {
  padding-left: 55px;
}
h1 {
  font-size: 28px;
  font-family: system-ui;
  font-weight: 700;
  color: white;
}
h4,
h5 {
  font-size: 14px;
  font-family: system-ui;
  font-weight: 700;
}
button {
  padding-left: 60px;
}
.container {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 50px 20px;
  padding-right: 20px;
  margin: 50px 20px;
}
.day {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}
.temperature {
  text-align: center;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 500;
}
.todays-weather {
  padding-left: 0px;
  margin-left: 0;
}

.other-info {
  font-weight: 500;
  padding-left: -50px;
}
.search-form {
  padding-left: 50px;
}
.day-picture {
  display: block;
  margin: 0 auto;
  position: relative;
}
